# Generated src directory
server/src/generated

# Server build target directory
server/target
# Server generated sources
server/src/server/generated/message.rs

# MacOS files
.DS_Store

# VSCode temp directory
.vscode/

# Client build directories
client/build
client/app/build
client/lib/build

# Gradle cache
.gradle

**/.idea/