# Generated src directory
server/src/generated

# Server build target directory
server/target

# MacOS files
.DS_Store

# VSCode temp directory
.vscode/

# Client build directories
client/build
client/app/build
client/lib/build

# Gradle cache
.gradle

**/.idea/